.a0 {
    float: left;
    left: 1%;
    margin-right: 1%;
    color: #fff;
    text-decoration: none;
    border: #66c 5px;
    background-color: #66c;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    transition: all 250ms;
    -webkit-transition: all 250ms;
}

.a0:hover {
    color: #fff;
    border-color: #77e;
    background-color: #77e;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .25);
    text-shadow: rgba(0, 0, 0, .5);
    border-width: 7px;
    border-radius: 12px;
}

.a0:active {
    color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .5);
    background-color: #339;
    border-color: #339;
    border-width: 4px;
}

.a1 {
    font-weight: bold;
    float: right;
    margin-right: 1%;
    color: #fff;
    text-decoration: none;
    border: #2b7 5px;
    background-color: #2b7;
    border-radius: 15px;
    border-style: solid;
    text-align: center;
    transition: all 250ms;
    -webkit-transition: all 250ms;
}

.a1:hover {
    color: #fff;
    border-color: #2d6;
    background-color: #2d6;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .25);
    text-shadow: rgba(0, 0, 0, .5);
    border-width: 7px;
    border-radius: 17px;
}

.a1:active {
    color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .5);
    background-color: #1a7;
    border-color: #1a7;
}

header {
    background-color: #333;
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: small;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .25);
    border-radius: 7px;
}

footer {
    background-color: #333;
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: smaller;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .25);
    border-radius: 7px;
}

.dc {
    font-weight: bolder;
    font-size: 900%;
    color: transparent;
    background: linear-gradient(to right, #9359ff, #29b1ff);
    background-clip: text;
    -webkit-background-clip: text;
    padding-top: 10%;
    text-shadow: rgba(0, 0, 0, .25);
    padding-left: 4%;
    padding-right: 4%;
    line-height: 90%;
}

.dd {
    font-weight: bolder;
    font-size: 300%;
    color: transparent;
    background: linear-gradient(to right, #5783fd, #7f92ff);
    background-clip: text;
    -webkit-background-clip: text;
    padding-top: 2%;
    padding-bottom: 5%;
    text-shadow: rgba(0, 0, 0, .25);
    padding-left: 4%;
    padding-right: 4%;
    text-align: right;
}