.a0 {
    float: left;
    left: 1%;
    margin-right: 1%;
    color: #fff;
    text-decoration: none;
    border: #66c 5px;
    background-color: #66c;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    transition: all 250ms;
    -webkit-transition: all 250ms;
}

.a0:hover {
    color: #fff;
    border-color: #77e;
    background-color: #77e;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .25);
    text-shadow: rgba(0, 0, 0, .5);
    border-width: 7px;
    border-radius: 12px;
}

.a0:active {
    color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .5);
    background-color: #339;
    border-color: #339;
    border-width: 4px;
}

.a1 {
    font-weight: bold;
    float: right;
    margin-right: 1%;
    color: #fff;
    text-decoration: none;
    border: #2b7 5px;
    background-color: #2b7;
    border-radius: 15px;
    border-style: solid;
    text-align: center;
    transition: all 250ms;
    -webkit-transition: all 250ms;
}

.a1:hover {
    color: #fff;
    border-color: #2d6;
    background-color: #2d6;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .25);
    text-shadow: rgba(0, 0, 0, .5);
    border-width: 7px;
    border-radius: 17px;
}

.a1:active {
    color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .5);
    background-color: #1a7;
    border-color: #1a7;
}

header {
    background-color: #eee;
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .25);
    border-radius: 7px;
}

footer {
    background-color: #eee;
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: smaller;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .25);
    border-radius: 10px;
}

.dc {
    font-weight: bolder;
    font-size: 800%;
    color: transparent;
    background: linear-gradient(to right, #9359ff, #29b1ff);
    background-clip: text;
    -webkit-background-clip: text;
    padding-top: 15%;
    text-shadow: rgba(0, 0, 0, .25);
    padding-left: 4%;
    padding-right: 4%;
    line-height: 90%;
    word-break: break-all;
}

.dd {
    font-weight: bolder;
    font-size: 300%;
    color: transparent;
    background: linear-gradient(to right, #5783fd, #7f92ff);
    background-clip: text;
    -webkit-background-clip: text;
    padding-top: 2%;
    padding-bottom: 5%;
    text-shadow: rgba(0, 0, 0, .25);
    padding-left: 4%;
    padding-right: 4%;
    text-align: right;
    line-height: normal;
}

a {
    text-decoration: none;
    color: #00a2ff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Source Han Sans', 'Noto Sans', 'Microsoft YaHei', '黑体', sans-serif;
    max-width: 1000px;
    position: relative;
    top: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #333;
        transition: all 250ms;
    }
    header {
        background-color: #444;
        color: #fff;
    }
    footer {
        background-color: #444;
        color: #fff;
    }
    a {
        color: #29b1ff;
    }
}

@media screen and (min-width: 1000px) {
    body {
        padding: calc(50% - 500px);
        padding-top: 1%;
    }
}

@media screen and (max-width: 470px) {
    body {
        padding: 3%;
        font-size: 14px;
    }
    .a0:hover,
    .a1:hover {
        border-width: 5px;
        border-radius: 10px;
    }
    .a0 {
        visibility: hidden;
        width: 0;
        height: 0;
        touch-action: none;
    }
    .a1 {
        float: right;
        margin: 3%;
    }
}

html body h1,
html body h2,
html body h3,
html body h4,
html body h5 {
    font-weight: 600;
}

html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
    line-height: 1.2;
    margin-top: 5%;
    margin-bottom: 2%;
}

html body h1 {
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 3%
}

html body h2 {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 3%
}

html body h3 {
    font-size: 1.7rem;
    font-weight: 500
}

html body h4 {
    font-size: 1.5rem;
    font-weight: 600
}

html body h5 {
    font-size: 1.3rem;
    font-weight: 600
}

html body h6 {
    font-size: 1.1rem;
    font-weight: 600
}

html body h1,
html body h2,
html body h3,
html body h4,
html body h5 {
    font-weight: 600
}

html body>p {
    margin-top: 0;
    margin-bottom: 1%;
    word-wrap: break-word;
}

.sponsor {
    text-align: center;
    font-size: medium;
}